:root{
    --colorPrincipal : #4DCCBD;
    --colorSecundario : #D6FFF6;
    --colorPrincipalLetra : #A7ABDD;
    --colorSecundarioLetra : #81717A;
}
*{
    font-family: 'Krub', sans-serif;
    font-weight: 400;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--colorSecundario);
    text-align: center;
}
h1,
h3 {
    font-family: 'Martian Mono', monospace;
    border: 2px solid black;
    padding: 3rem;
    margin: 2rem;
    border-radius: 0.8rem;
}
h1 {
    background-color: white;
    font-size: 3rem;
    color: var(--colorPrincipalLetra);

}
h3 {
    background-color: var(--colorSecundario);
    font-size: 1rem;
    color: var(--colorSecundarioLetra);
}
img {
    width: 20rem;
}
#activate{
    color: gold;
}
.navegacion-principal {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colorPrincipalLetra);
    border-radius: 3rem;
}
.navegacion-principal a {
    color: black;
    text-decoration: none;
    background-color: var(--colorPrincipalLetra);
    font-size: 3rem;
    font-weight: bold;
    margin: 0 5rem;
}
.navegacion-principal a:hover {
    background-color: var(--colorPrincipal);
    color: white;
    width: 100%;
}
.nav-container {
    max-width: 120rem;
    margin: 0 auto;
}
.menu-ejercicios{
    border: 3px solid black;
    width: rem;
    margin: 2rem;
    background-color: var(--colorPrincipal);
}
.ejercicios {
    display: grid;
    margin: 1rem;
    font-size: 3rem;
}
.img-ejercio{
    background-color: white;
    border: 3px solid black;
    margin: 5rem;
    padding: 1rem;
    font-size: 3rem;
}
.img-ejercio:hover {
    transition: 0.5s;
    background-color: var(--colorSecundario);
    cursor: pointer;
}
.contenedor-principal {
    border:1px solid black;
    background-color: var(--colorPrincipal);
    margin: 2rem;
    padding: 3rem;
}

.shadow {
    -webkit-box-shadow: 17px 17px 29px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 17px 29px -14px rgba(0,0,0,0.75);
    box-shadow: 17px 17px 29px -14px rgba(0,0,0,0.75);
}

/* Ejercicio 01 */

.container__j1 {
    display: flex;
    margin: 2rem;
    justify-content: center;
}
.item__j1 {
    width: 5rem;
    height: 5rem;
    background-color: red;
    margin-right: 2rem;
    border-radius: 10%;
}

/* Ejercicio 02 */

.container__j2 {
    display: flex;
    margin: 2rem;
    justify-content: center;
}
.item__j2 {
    width: 5rem;
    height: 5rem;
    background-color: red;
    margin-right: 2rem;
    border-radius: 2%;
}
.item__j2:nth-child(2){
    flex-basis: calc(90%);
}

/* Ejercicio 03 */

.container__j3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem;
}
.item__j3 {
    width: 48%;
    height: 15rem;
    background-color: red;
    margin: 2rem auto;
    border-radius: 2%;
}
.item__j3:nth-child(3){
    width: 100%;
}

/* Ejercicio 04 */

.container__j4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem;
}
.item__j4 {
    flex: 0 30%;
    height: 5rem;
    background-color: red;
    margin: 2rem auto;
    border-radius: 2%;
}

/* Ejercicio 05 */

.container__j5 {
    display: flex;
    justify-content: center; /* Centra las barras horizontalmente */
    align-items: flex-end; /* Alinea las barras en la parte inferior del contenedor */
    height: 30rem; /* Altura del contenedor */
    margin: 3rem;
}

.item__j5 {
    border: 1px solid black;
    background-color: red;
    width: 5rem; /* Ancho de cada barra */
    margin: 0 1rem; /* Espacio entre barras */
    box-sizing: border-box;
}

.item__j5:nth-child(1){
    height: 10rem;
}
.item__j5:nth-child(2){
    height: 15rem;
}
.item__j5:nth-child(3){
    height: 20rem;
}
.item__j5:nth-child(4){
    height: 25rem;
}

/* EJercicio 06 */

.container__j6 {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Cambia la direcci贸n de las barras a horizontal y las alinea a la derecha */
    align-items: flex-start; /* Centra las barras verticalmente */
    height: 3rem; /* Altura del contenedor */
    margin: 10rem;
    width: 100%; /* Ancho del contenedor */
}

.item__j6 {
    border: 1px solid black;
    background-color: red;
    margin: 1rem;
    width: 50px; /* Ancho de las barras */
    margin: 0 10px; /* Espacio entre barras horizontalmente */
    flex-grow: 0; /* Evita que las barras se expandan para llenar el espacio */
}

 .item__j6:nth-child(1){
    width: 10%;
    height: 5rem;
}
.item__j6:nth-child(2){
    width: 15%;
    height: 5rem;
}
.item__j6:nth-child(3){
    width: 20%;
    height: 5rem;
}
.item__j6:nth-child(4){
    width: 25%;
    height: 5rem;
}

/* Ejercicio 07 */

.container__j7 {
    display: flex;
    flex-direction: column; /* Cambia la direcci贸n de las barras a horizontal y las alinea a la derecha */
    justify-content: center;
    align-items: center; /* Centra las barras verticalmente */
    margin: 5rem;
}

.item__j7 {
    border: 1px solid black;
    background-color: red;
    width: 30rem; /* Ancho de las barras */
    height: 5rem;
    margin: 1rem; /* Espacio entre barras horizontalmente */
    flex-grow: 0; /* Evita que las barras se expandan para llenar el espacio */
}

/* Ejercicio 08 */

.container__j8 {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas adicionales */
    justify-content: center; /* Centra las filas horizontalmente */
    margin: 10rem;
    margin: 10rem;
}

.item__j8 {
    border: 1px solid black;
    background-color: red;
    width: 30%; /* Ancho de las barras */
    flex-grow: 0; /* Evita que las barras se expandan para llenar el espacio */
}
.footer {
    font-size: 5rem;
    margin: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}

@media ( min-width: 1500px) { 
    h1,
    h3 {
        font-family: 'Martian Mono', monospace;
        border: 2px solid black;
        padding: 3rem;
        margin: 2rem;
        border-radius: 0.8rem;
    }
    h1 {
        background-color: white;
        font-size: 10rem;
        color: var(--colorPrincipalLetra);

    }
    h3 {
        background-color: var(--colorSecundario);
        font-size: 8rem;
        color: var(--colorSecundarioLetra);
    }
    #activate{
        color: gold;
    }
    .navegacion-principal {
        margin: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--colorPrincipalLetra);
        border-radius: 3rem;
    }
    .navegacion-principal a {
        color: black;
        text-decoration: none;
        background-color: var(--colorPrincipalLetra);
        font-size: 12rem;
        font-weight: bold;
        margin: 0 5rem;
    }
    .navegacion-principal a:hover {
        background-color: var(--colorPrincipal);
        color: white;
        width: 100%;
    }
    .nav-container {
        max-width: 120rem;
        margin: 0 auto;
    }
    .menu-ejercicios{
        border: 3px solid black;
        width: 96%;
        margin: 10rem;
        background-color: var(--colorPrincipal);
    }
    .ejercicios {
        display: grid;
        margin: 10rem;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 3rem;
        font-size: 3rem;
        
    }
    .img-ejercio{
        background-color: white;
        border: 3px solid black;
        margin: 5rem;
        padding: 5rem;
        font-size: 6rem;
    }
    .img-ejercio:hover {
        transition: 0.5s;
        background-color: var(--colorSecundario);
        cursor: pointer;
    }
    .contenedor-principal {
        border:1px solid black;
        background-color: var(--colorPrincipal);
        margin: 10rem;
        padding: 5rem;
    }

    .shadow {
        -webkit-box-shadow: 17px 17px 29px -14px rgba(0,0,0,0.75);
        -moz-box-shadow: 17px 17px 29px -14px rgba(0,0,0,0.75);
        box-shadow: 17px 17px 29px -14px rgba(0,0,0,0.75);
    }

    /* Ejercicio 01 */

    .container__j1 {
        display: flex;
        margin: 10rem;
        justify-content: center;
    }
    .item__j1 {
        width: 15rem;
        height: 10rem;
        background-color: red;
        margin-right: 2rem;
        border-radius: 10%;
    }

    /* Ejercicio 02 */

    .container__j2 {
        display: flex;
        margin: 10rem;
        justify-content: center;
    }
    .item__j2 {
        width: 15rem;
        height: 10rem;
        background-color: red;
        margin-right: 2rem;
        border-radius: 2%;
    }
    .item__j2:nth-child(2){
        flex-basis: calc(30%);
    }

    /* Ejercicio 03 */

    .container__j3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 10rem;
    }
    .item__j3 {
        width: 48%;
        height: 15rem;
        background-color: red;
        margin: 2rem auto;
        border-radius: 2%;
    }
    .item__j3:nth-child(3){
        width: 100%;
    }

    /* Ejercicio 04 */

    .container__j4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 10rem;
    }
    .item__j4 {
        flex: 0 30%;
        height: 10rem;
        background-color: red;
        margin: 2rem auto;
        border-radius: 2%;
    }

    /* Ejercicio 05 */

    .container__j5 {
        display: flex;
        justify-content: center; /* Centra las barras horizontalmente */
        align-items: flex-end; /* Alinea las barras en la parte inferior del contenedor */
        height: 40rem; /* Altura del contenedor */
        margin: 10rem;
    }

    .item__j5 {
        border: 1px solid black;
        background-color: red;
        width: 5rem; /* Ancho de cada barra */
        margin: 0 1rem; /* Espacio entre barras */
        box-sizing: border-box;
    }

    .item__j5:nth-child(1){
        height: 10rem;
    }
    .item__j5:nth-child(2){
        height: 15rem;
    }
    .item__j5:nth-child(3){
        height: 20rem;
    }
    .item__j5:nth-child(4){
        height: 25rem;
    }

    /* EJercicio 06 */

    .container__j6 {
        display: flex;
        justify-content: center;
        flex-direction: column; /* Cambia la direcci贸n de las barras a horizontal y las alinea a la derecha */
        align-items: flex-start; /* Centra las barras verticalmente */
        height: 100px; /* Altura del contenedor */
        margin: 10rem;
        width: 100%; /* Ancho del contenedor */
    }

    .item__j6 {
        border: 1px solid black;
        background-color: red;
        margin: 1rem;
        width: 50px; /* Ancho de las barras */
        margin: 0 10px; /* Espacio entre barras horizontalmente */
        flex-grow: 0; /* Evita que las barras se expandan para llenar el espacio */
    }

    .item__j6:nth-child(1){
        width: 10%;
        height: 5rem;
    }
    .item__j6:nth-child(2){
        width: 15%;
        height: 5rem;
    }
    .item__j6:nth-child(3){
        width: 20%;
        height: 5rem;
    }
    .item__j6:nth-child(4){
        width: 25%;
        height: 5rem;
    }

    /* Ejercicio 07 */

    .container__j7 {
        display: flex;
        flex-direction: column; /* Cambia la direcci贸n de las barras a horizontal y las alinea a la derecha */
        justify-content: center;
        align-items: center; /* Centra las barras verticalmente */
        margin: 10rem;
    }

    .item__j7 {
        border: 1px solid black;
        background-color: red;
        width: 50rem; /* Ancho de las barras */
        height: 5rem;
        margin: 1rem; /* Espacio entre barras horizontalmente */
        flex-grow: 0; /* Evita que las barras se expandan para llenar el espacio */
    }

    /* Ejercicio 08 */

    .container__j8 {
        display: flex;
        flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas adicionales */
        justify-content: center; /* Centra las filas horizontalmente */
        margin: 10rem;
    }

    .item__j8 {
        border: 1px solid black;
        background-color: red;
        width: 30%; /* Ancho de las barras */
        margin: 1rem; /* Espacio entre barras horizontalmente */
        flex-grow: 0; /* Evita que las barras se expandan para llenar el espacio */
    }
    .footer {
        font-size: 5rem;
        margin: 5rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    
}
